---
layout: 'base.njk'
---  
<article class="main-article">
<div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <span style="font-size: small;" >{{ date | postDate }}</span>, <span style="font-size: small;">About {{ content | readingTime }} reading time.</span>
    {{ content | safe}}
    <div style="text-align:right;font-size: small;">
        {% gh_edit page %}
    </div>
    <div>
        <script src="https://utteranc.es/client.js"
            repo="avikjis27/avikjis27.github.io"
            issue-term="title"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script> 
    </div>
</div>

</article>