---
layout: 'base.njk'
---
    
<article class="main-article">
<div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <span style="font-size: small;" >{{ date | postDate }}</span>, <span style="font-size: small;">About {{ content | readingTime }} reading time.</span>
    {{ content | safe}}
    {% gh_edit page %}
</div>
</article>