<header class="page-header">
    <div class="container">
        <div class="page-header__content">
            <div>
                <a href="/" target="_blank">
                <img href="#" src="/assets/logo.svg"/>
                </a>
            </div>
            
            <nav>
                <ul role="list" class="nav-list flex-group">
                    <li>
                        <a href="https://github.com/avikjis27" target="_blank">
                        <img href="#" src="/assets/github.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/avikjis27" target="_blank">
                        <img href="#" src="/assets/linkedin.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/199104831@N02/" target="_blank">
                        <img href="#" src="/assets/flickr.svg"/>
                        </a>
                    </li>
                    
                    
                </ul>
            </nav>
        </div>
    </div>  
</header>