
		* {
			font-family: 'Ubuntu', sans-serif;
		}

		.row.profile {
			height: 50vh;
		}

		.row.profileRibbon {
			height: 20vh;
			border-left-style: solid;
			border-left-color: $header-bg-color;
			border-left-width: 13px;
			background-color: rgb(247, 247, 255);
		}

		.bordered {
			border-style: solid;
			border-color: black;
		}

		.leftSide {
			background-color: $header-bg-color;
			border-left-style: solid;
			border-left-color: rgba(254, 251, 241, 0.73);
			border-left-width: 13px;
			height: 100%;
		}

		.rightSide {
			background-color: $header-bg-color;
			border-right-style: solid;
			border-right-color: rgba(254, 251, 241, 0.73);
			border-right-width: 13px;
			height: 100%;
		}

		.middle {
			height: 100%;
      padding-top: 4em;
		}

		.me {

			height: 20vh;
		}

		.me h3 {
			font-weight: bold;
			font-size: 20px;
      margin-top: -2em;
		}

		.me h4 {
			color: rgba(145, 145, 145, 1)
		}

		.me .contact {
			background-color: $header-bg-color;
			color: white;
			font-weight: bold;
			margin-bottom: 1px;
			font-size: 11px;
			text-align: center;
			border-left-style: solid;
			border-color: black;
			border-width: 3px;
		}

		.me .contctDtls {
			padding-bottom: 2px;
		}

		.imageContainer {
			height: 8em;
			border-radius: 8em;
			width: 8em;
			border-color: black;
			border-style: double;
			margin-left: 12em;

		}

		.aboutme {
			margin-top: 3em;
			border-left-style: solid;
			border-width: 3px;
			border-color: #337AB7;
		}

		.aboutme p::first-letter {
			font-size: 20px;
			color: $header-bg-color;
		}

		.profileIndicator {
			height: 8em;
			border-radius: 8em;
			width: 8em;
			border-color: white;
			background-color: white;
			margin-left: 6em;
			margin-top: 6em;
			padding-left: 2em;
			padding-top: 20px;
		}

		.leftSide h3 {
			display: table;
			margin: 0 auto;
			padding-top: 1em;
			color: white;
		}

		.fa {
			color: $header-bg-color;
		}

		.bandContent {
			height: 20vh;
			padding-top: 2em;
		}

		.bandContent .thumbnail {
			border: none !important;
			box-shadow: none !important;
			background-color: rgb(247, 247, 255);
		}

		.thumbnail > span {
			display: table;
			margin: 0 auto;
		}

    .label{

    height: 20px;
    background-color: $header-bg-color;
    color: white;
    margin-bottom: 3px;
    border-radius: 0px;
    border-left-style: solid;
    border-color: $header-bg-color-light;
    border-width: 3px;
    }
