---
layout: page
title: Blogs
permalink: /blogs/
---
<div class="home">

  <ul class="post-list">
    {% for post in posts %}
      <li>
        <span class="post-meta"> <i class="fa fa-calendar"></i>&nbsp;&nbsp; {{ post.date | date: "%b %-d, %Y" }}</span>
        &nbsp;&nbsp;
        <span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
        &nbsp;&nbsp;
        {% for tag in post.tags %}
          <span class="post-tags hidden-xs hidden-sm"><i class="fa fa-tag"></i>&nbsp;{{ tag }}</span>
        {% endfor %}
        &nbsp;&nbsp;
        {% for cat in post.categories %}
          <span class="post-cats hidden-xs hidden-sm"><i class="fa fa-flag"></i>&nbsp;{{ cat }}</span>
        {% endfor %}

      </li>
    {% endfor %}
  </ul>

</div>