---
layout: 'base.njk'
---
<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Hello and welcome!</h1>
      <p>I’m Avik (pronounced Oveek), a passionate developer, cloud infrastructure engineer and avid traveller <embed src="/assets/bike.svg"/>
      <p>This space is dedicated to sharing my thoughts, insights and experiences from the world of technology.
        Explore freely, ask questions, and let’s find some time to connect for a thoughtful discussions, preferably over a good cup of tea <embed src="/assets/tea.svg"/></p>
        <p>Let’s build, learn, and innovate together!</p>
      <p>Below are some of my favourite articles, or you can go to the <a href="/blog" style="text-decoration: none;color:blue">blog</a> page to see my most posts.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog.html" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img src="/assets/quote.png" alt="" class="hero__image" width="600">
    </div>
  </div>
</section>
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %} 
    
    </ul>
  </div>
</section>